<div class="user-box">
<h1>{{headerText}}</h1>
    <div class='box'>  
        <div class="imgbox"><img class="userimg" [src]="imageUrl" (error)="changeImage()"/></div>
       <form [formGroup]="myForm" (ngSubmit)="onSubmit()" #ngForm="ngForm">
        <div class="form-group">
            <div class="d-flex">
                <label class="m-auto" for='name'>Name: </label>
                <input 
                class="form-control" [class.is-invalid]="name?.invalid && 
                (name?.touched || ngForm.submitted)" type='text' formControlName='name'>
            </div>
            <div class="ml-5" *ngIf="name?.invalid && (name?.touched || ngForm.submitted)">
                <small class="text-danger" *ngIf="name?.errors?.['required']">Name is required</small>
                <small class="text-danger" *ngIf="name?.errors?.['minlength']">Name must be at least 3 characters</small>
                <small class="text-danger" *ngIf="name?.errors?.['maxlength']">Name must be at most 25 characters</small>
            </div>
        </div>

        <div class="form-group">
            <div class="d-flex">
                <label class="m-auto" for='age'>Age: </label>
                <input class="form-control" [class.is-invalid]="age?.invalid && 
                (age?.touched || ngForm.submitted)" type='number'  formControlName='age'>
            </div>
            <div class="ml-5" *ngIf="age?.invalid && (age?.touched || ngForm.submitted)">
                <small class="text-danger" *ngIf="age?.errors?.['min']">Age must be greater than 0</small>
                <small class="text-danger" *ngIf="age?.errors?.['max']">Age must be smaller than 150</small>
            </div>
        </div>

        <div class="form-group">
            <div class="d-flex">
                <label class="m-auto" for='email'>Email:</label>
                <input [class.is-invalid]="email?.invalid && 
                (email?.touched || ngForm.submitted )" class="form-control" type='email' formControlName='email' >
            </div>
            <small class="text-danger ml-5" *ngIf="err">Email is already in use</small>
            <div class="ml-5" *ngIf="email?.invalid && (email?.touched || ngForm.submitted)">
                <small class="text-danger" *ngIf="email?.errors?.['required']">Email is required</small>
                <small class="text-danger" *ngIf="email?.errors?.['email']">Email is invalid</small>
            </div>
        </div>

        <div *ngIf="id == 0" class="form-group">
            <div class="d-flex">
                <label>Password: </label>
                <input class="form-control" [class.is-invalid]="password?.invalid && 
                (password?.touched || ngForm.submitted)" type='password' 
                formControlName='password'>
            </div>
            <div class="ml-5" *ngIf="password?.invalid && (password?.touched || ngForm.submitted)">
                <small class="text-danger" *ngIf="password?.errors?.['required']">Password is required</small>
                <small class="text-danger" *ngIf="password?.errors?.['pattern']">Password must contains
                     uppercase, lowercase, digit and special character and at least 8 characters</small>
            </div>
        </div>

        <div *ngIf="id == 0" class="form-group">
            <div class="d-flex">
                <label>Confirm Password: </label>
            <input class="form-control" [class.is-invalid]="myForm.errors?.['misMatch']" 
            type='password' formControlName='confirmPassword'>
            </div>
            <div class="ml-5" *ngIf="confirmPassword?.invalid && (confirmPassword?.touched || ngForm.submitted)">
                <small class="text-danger" *ngIf="confirmPassword?.errors?.['required']">Password is required</small>
                <small class="text-danger" *ngIf="confirmPassword?.errors?.['pattern']">Password must contain at least
                     one number, one uppercase, a lowercase letter and no white space and at least 8 characters</small>
                <small class="text-danger" *ngIf="confirmPassword?.errors?.['confirmedValidator']">
                    Password did not match
                </small>     
            </div>
        </div>

        <div class="form-group d-flex">
            <label class="m-auto">DOB:</label>
            <input class="form-control" type="date" (keydown)="disableDate()" formControlName="dob">
        </div>     

        <div class="form-group d-flex">
            <label for='image'>Profile Picture: </label>
            <input type='file' name='image' (change)="onFileSelect($event)">
        </div>
        <div class="form-group submit-box">
            <input class="btn btn-success" type='submit' name='submit' [value]="btnName">
        </div>
        </form>
    </div>
</div>
 <!--   -->