<form class="myform" [formGroup]="resetForm" (ngSubmit)="onSubmit()" #ngForm="ngForm">
    <h2>Forget Password</h2>

    <div class="form-group">
        <label >Email Id: </label>
        <input 
        class="form-control" [class.is-invalid]="email?.invalid && 
        (email?.touched || ngForm.submitted)" type='text' formControlName='email'>
        <div *ngIf="email?.invalid && (email?.touched || ngForm.submitted)">
            <small class="text-danger" *ngIf="email?.errors?.['required']">Email is required</small>
            <small class="text-danger" *ngIf="email?.errors?.['email']">Email is invalid</small>
        </div>
    </div>
    <div class="form-group btn-box mt-4">
        <input class="btn btn-primary" type="submit" value="submit">
    </div>
</form>
