<div class="side-bar">
    <ul>
        <li class="nav-item"> 
            <a class="anch" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact:true}" 
             routerLink="/home">Home</a> 
        </li> 
        <li class="nav-item"> 
            <a class="anch" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}" 
            routerLink="/home/users">Users</a> 
        </li> 
        <li class="nav-item"> 
            <a class="anch" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}" 
            routerLink="/home/category">Category</a> 
        </li> 
    </ul>
</div>    
