.box{
    width: 90vw;
    height: 90vh;
    overflow: inherit;
    text-align: center;
}

table td th{
    border: 1px solid black;
}

.userimg{
    margin-top: 40px;
    width: 250px;
    height: 250px;
}

.form{
    margin:40px;
}